body{
    background-color:#FDCEB9;
    margin: 0;
  }
  a{
    color: #D885A3;
    text-decoration: none;
  }
  #head{
    text-align: center;
    color: #655D8A;
    background-color: #D885A3;
    padding: 200px;
    font-style: italic;
    font-weight: bold;
    font-family: "Monaco", monospace;
    position: sticky;
    font-size: 25px;
  }
  #menu{
    position: sticky;
    background-color: #655D8A;
    color: #D885A3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
  }
  #meniu{
    background-color: #655D8A;
    position: sticky;
    z-index: 10;
  }
  .flex-container {
    display: flex;
    background-color:#655D8A;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .elem{
    background-color: #655D8A;
    float: left;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin: 10px 90px;
  }
  .elemsub{
    background-color: #655D8A;
    float: left;
    position: relative;
    text-align: center;
    font-size: 20px;
    margin: 10px 90px;
  }
  .elem:hover{
    background-color:#FDCEB9;
  }
  .elemsub:hover{
    background-color:#FDCEB9;
  }
  .subelem {
    background-color:#FDCEB9;
    display: block;
    position: absolute;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;

  }
  .dropelem{
    z-index: 10;
    float: left;
    text-align: center;
    padding: 10px 70px;
    margin: 0;
    background-color:#FDCEB9;
  }
  .subelem .dropelem:hover{
    background-color: #655D8A;
  }

  .elemsub:hover .subelem {
    display: block;
  }
  .imagini img{
    border: 5px solid #7897AB;
    width: 300px;
  }
  .imagini section{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  section{
    border: 5px solid #7897AB;
    width: 1000px;
    margin: auto;
    width: 75%;
    padding: 20px;
    position: relative;
  }
  section .dreapta{
    position: absolute;
    right: 10px;
  }
  .paragraf{
    position: absolute;
  }