body{
    background-color:#FDCEB9;
    margin: 0;
  }
  a{
    color: #D885A3;
    text-decoration: none;
  }
  #head{
    text-align: center;
    color: #655D8A;
    background-color: #D885A3;
    padding: 200px;
    font-style: italic;
    font-weight: bold;
    font-family: "Monaco", monospace;
    position: sticky;
    font-size: 25px;
  }
  h2{
    text-align: center;
    color: #655D8A;
  }
  .album{
    border: 5px solid #7897AB;
    width: 50%;
    padding: 10px;
    background-color: #fcd9cb;
    margin: 50px auto;
  }
  h3{
    text-align: center;
    color: #655D8A;
  }  
  img{
    border: 5px solid #7897AB;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
